.order
{
    width: 80%;
    padding: 30px;
}

.orders
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    padding: 20px;
    border: 1px solid tomato;
    border-radius: 5px;
    font-size: 15px;
    color: #505050;
    margin: 30px 0;
}

.food,.name
{
    font-weight: 600;
}

.name
{
    margin-top: 30px;
    margin-bottom: 5px;
}
.phone
{
    margin-top: 5px;
}

.orders select
{
   border: none;
   outline:none;
   background-color:rgb(246, 171, 158);
   padding: 10px 20px;
   text-align: center;
   font-weight: bold;
   border-radius: 4px;
   cursor: pointer;
   border: 1px solid #505050;
}

@media (max-width:600px) {
    .orders{
      
        font-size: 13px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .order
    {
        padding: 10px;
    }
    
    .orders select{
        padding: 10px;
        font-size: 13px;
    }
    img
    {
        width: 40px;
    }
}